@model SistemaUcre.Models.ResetPasswordModel

@{
    ViewBag.Title = "RecuperaPassword";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div style="margin: 10% auto; width: 20%; height: 50%;  ">

        <img class="img-responsive" src="~/Images/ISM Logo.png">
        <br />
        <fieldset>
            <h4 style="color:rgb(52, 113, 76);">Recuperar Contraseña</h4>

            <div class="editor-field">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Ingrese su usuario" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
            <br />

            <p>
                @Html.ActionLink("Volver a Inicio de Sesión", "Login")
            </p>

            <p>
                <input type="submit" value="Aceptar" class="btn-success btn-sm " />
            </p>
        </fieldset>
    </div>
}

<script src="~/Scripts/jquery-2.1.4.js"></script>

