@{
    ViewBag.Title = "ResetPwStepTwo";
    Layout = "~/Views/Shared/_LayoutEstudiante.cshtml";
}

<div style="margin: 10% auto; width: 30%; height: 70%;  ">

    <img class="img-responsive" src="~/Images/ISM Logo.png">
    <br />
    <fieldset>
        <h4 style="color:rgb(52, 113, 76); ">Se ha enviado un correo electrónico con las indicaciones para recuperar su contraseña.</h4>

        <p>
            @Html.ActionLink("Iniciar Sesión", "Login")
        </p>

    </fieldset>
</div>